.popup__button {
    width: 358px;
    height: 50.15px;
    left: 461px;
    top: 438.34px;
    background: #000000;
    border-radius: 2px;
    color: white;
    border: none;
    margin-bottom: 36px;
    margin-left: 36px;
    margin-top: 48px;
    outline: none;
}

.popup__button:hover {
    cursor: pointer;
    background: rgba(0, 0, 0, 0.8);
}