.profile__edit-btn {
    width: 24px;
    height: 24px;
    box-sizing: border-box;
    background-color: #000000;
    border: 1px solid #ffffff;
    background-image: url(../../../images/profile/edit.svg);
    background-position: center;
    background-repeat: no-repeat;
    margin-top: 5px;
    outline: none;

}

.profile__edit-btn:hover {
    cursor: pointer;
    opacity: 0.6;    
}