.popup-card__button {
    width: 358px;
    height: 50.15px;
    left: 461px;
    top: 438.34px;
    background: #000000;
    border-radius: 2px;
    color: white;
    border: none;
    margin-bottom: 36px;
    margin-left: 36px;
    margin-top: 48px;
    outline: none;
}

.popup-card__button:hover {
    cursor: pointer;
    background: rgba(0, 0, 0, 0.8);
}

@media screen and (max-width: 500px) {
    .popup-card__button {
        max-width: 50vw;
        font-size: 14px;
        line-height: 17px;
    }
}